DISCORD_BOT_TOKEN=<TOKEN>
AUDIO_FILES_URL=<AUDIOS>
OBJECT_STORAGE_SECRET=<STORAGE_SECRET>
OBJECT_STORAGE_ID=<STORAGE_ID>
OBJECT_STORAGE_URL=<STORAGE_URL>
OBJECT_STORAGE_BUCKET=<STORAGE_BUCKET>
NOCTIS_API_KEY=<NOCTIS_API_KEY>
NOCTIS_API_URL=<NOCTIS_API_URL>